[package]
name = "falkordb"
version = "0.1.4"
edition = "2021"
description = "A FalkorDB Rust client"
homepage = "https://www.falkordb.com/"
readme = "README.md"
repository = "https://github.com/FalkorDB/falkordb-rs"
license = "MIT"
categories = ["database"]
keywords = ["database", "graph-database", "database-driver", "falkordb"]

[package.metadata.docs.rs]
all-features = true

[lib]

[dependencies]
parking_lot = { version = "0.12.3", default-features = false, features = ["deadlock_detection"] }
redis = { version = "0.25.4", default-features = false, features = ["sentinel"] }
regex = { version = "1.10.5", default-features = false, features = ["std", "perf", "unicode-bool", "unicode-perl"] }
strum = { version = "0.26.3", default-features = false, features = ["std", "derive"] }
thiserror = "1.0.61"
tokio = { version = "1.38.0", default-features = false, features = ["macros", "sync", "rt-multi-thread"], optional = true }
tracing = { version = "0.1.40", default-features = false, features = ["std", "attributes"], optional = true }

[features]
default = []

native-tls = ["redis/tls-native-tls"]
rustls = ["redis/tls-rustls"]

tokio = ["dep:tokio", "redis/tokio-comp"]
tokio-native-tls = ["tokio", "redis/tokio-native-tls-comp"]
tokio-rustls = ["tokio", "redis/tokio-rustls-comp"]

tracing = ["dep:tracing"]

[[example]]
name = "basic_usage"

[[example]]
name = "async_api"
required-features = ["tokio"]
