[advisories]

[bans]
multiple-versions = "deny"
skip = [
    "wasi", 
    "getrandom",
    "windows-sys", 
    "core-foundation", 
    "security-framework", 
    "windows-targets",
    "windows_aarch64_gnullvm",
    "windows_aarch64_msvc", 
    "windows_i686_gnu",
    "windows_i686_gnullvm",
    "windows_i686_msvc",
    "windows_x86_64_gnu",
    "windows_x86_64_gnullvm",
    "windows_x86_64_msvc"
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"

[licenses]
exceptions = []
unused-allowed-license = "allow"
confidence-threshold = 0.93
allow = [
    "Apache-2.0 WITH LLVM-exception",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "MIT",
    "ISC",
    "Unicode-3.0",
]

